<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 50%; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 8px; text-align: left; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>Lista de productoss</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>precio</th>
            <th>descripcion</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.Nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.descripcion }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay productoss registrados.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
